:root {
  --basic-unit: 4px;
  --rotate-from: 0deg;
  --rotate-to: 0deg;
  --person-position: 0;
  --card-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  --card-shadow-transition: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
  --spin-container-height: calc(var(--basic-unit) * 125); // 500px
  --spin-container-width: calc(var(--basic-unit) * 125); // 500px
  --people-list-width: calc(var(--basic-unit) * 112.5); // 400px
  --people-list-height: calc(var(--basic-unit) * 87.5); // 350px
  --people-list-padding-top: calc(var(--basic-unit) * 27.5); // 110px
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #efeeee;
  font-family: cursive;
  font-size: 25px;
  touch-action: none;
}

.spin-container {
  position: relative;
  height: var(--spin-container-height);
  width: var(--spin-container-width);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.1),
    inset 0 -15px 15px rgba(255, 255, 255, 1), 0 15px 15px rgba(0, 0, 0, 0.1),
    inset 0 15px 15px rgba(0, 0, 0, 0.08);

  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

  // FIXME: remove after side__back finish
  transform: rotateY(180deg);

  // backside__after-flip
  &__flip {
    transform: scale(1.15) rotateY(180deg);
    box-shadow: var(--card-shadow-transition);
  }
}

.side {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  backface-visibility: hidden;

  &__front {
    transform: rotateY(0deg);
  }

  &__back {
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
  }

  .spin-needle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;

    height: 35%;
    width: 1%;

    background: #ff105e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .people-container {
    position: relative;
    height: 100%;
    width: 100%;

    .people {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-top: 20px;
      text-align: center;
      color: black;

      transform: rotate(var(--person-position));
    }
  }

  .btn-turn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 35px;

    border-radius: 50%;

    background: linear-gradient(145deg, #ffffff, #d7d6d6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 10px #d0cfcf, -5px -5px 10px #ffffff;

    &:focus {
      outline: 0;
    }

    &:active {
      background: #efeeee;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.9),
        6px 6px 16px 0 rgba(217, 210, 200, 0.5);
    }
  }

  .people-list {
    overflow: scroll;
    position: relative;
    top: 40px;
    width: var(--people-list-width);
    height: var(--people-list-height);
    border-radius: 50%;
    // border: 1px solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &__textbox {
      width: var(--people-list-width);

      input {
        position: absolute;
        top: 10%;
        left: 50%;
        height: 10%;
        width: 50%;
        padding: 0 20px;
        transform: translateX(-50%);
        border: 0;
        border-bottom: 1px solid gainsboro;
        line-height: 1.3;
        color: gray;
        font-family: cursive;
        font-size: 20px;
        background-color: transparent;

        &:focus {
          outline: 0;
        }
      }
    }

    &-item {
      list-style: none;
      margin: 30px 0 65px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item__box-name-container {
      position: absolute;
      left: 100px;
    }

    &-item__checkbox {
      //TODO: styling
    }

    &-item__delete-btn {
      position: absolute;
      right: 0;
      padding: 15px 5px;
      margin-right: 100px;
      background: transparent;
      border: 0;
      font-weight: lighter;
      font-size: 20px;
      color: gainsboro;

      &:focus {
        outline: 0;
      }
    }
  }
}

// needle turn animation
.turn--start {
  animation-name: turn--start;
  animation-duration: 2s;

  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes turn--start {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(calc(360deg * 3 + var(--rotate-to)));
  }
}

.turn--reset {
  animation-name: turn--reset;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes turn--reset {
  0% {
    transform: translateX(-50%) rotate(calc(360deg + var(--rotate-to)));
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

// FIXME: help flip button
.btn {
  position: absolute;
  bottom: 5vh;
  height: 60px;
  width: 120px;
}
