:root {
  --basic-unit: 4px;
  --rotate-from: 0deg;
  --rotate-to: 0deg;
  --person-position: 0;

  --spin-container-width: 75vmin;
  --spin-container-height: 75vmin;
  --spin-font-size: 3.5vmin;
  --spin-turn-btn-padding: 5vmin;

  --people-list-width: 70vmin;
  --people-list-height: 50vmin;
  --people-list-top: 2vmin;
  --people-list-padding-top: 3.5vmin;
  --people-list-margin: 10vmin;
  --people-list-item__box-name-container-left: 10vmin;

  --people-selected-effect-bg: url(../assets/faveEffect.png);
  --people-selected-effect-bg-size: 15vmin;
  --people-selected-effect-bg-frame: 28;

  /* ---------------------------------- Light Mode --------------------------------- */
  --theme-light-background: #efeeee;
  --theme-light-forecolor: rgba(0, 0, 0, 1);
  // spin-container
  --theme-light-spin-container-border: rgba(255, 255, 255, 0.2);
  --theme-light-spin-container-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.1),
    inset 0 -15px 15px rgba(255, 255, 255, 1), 0 15px 15px rgba(0, 0, 0, 0.1),
    inset 0 15px 15px rgba(0, 0, 0, 0.08);
  --theme-light-spin-container-flip-box-shadow: rgba(0, 0, 0, 0.08);
  --theme-light-side-back-background: rgba(255, 255, 255, 0.5);
  // back-people-list
  --theme-light-people-list-before: rgba(0, 0, 0, 0.2);
  --theme-light-back-people-radio-border: rgba(0, 0, 0, 0.1);
  --theme-light-back-people-radio-bg: rgba(0, 0, 0, 0.05);
  --theme-light-back-people-text-active: black;
  --theme-light-back-people-text-deactive: gainsboro;
  --theme-light-back-people-delete: gainsboro;
  // btn-round
  --theme-light-neu-btn-round-border: rgba(239, 238, 238, 0.8);
  --theme-light-neu-btn-round-background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1),
    rgba(215, 214, 214, 1)
  );
  --theme-light-neu-btn-round-box-shadow: 5px 5px 10px rgba(208, 207, 207, 1),
    -5px -5px 10px rgba(255, 255, 255, 1);
  --theme-light-neu-btn-round-background-active: rgba(239, 238, 238, 1);
  --theme-light-neu-btn-round-box-shadow-active: -6px -6px 26px 0 rgba(255, 255, 255, 0.9),
    6px 6px 16px 0 rgba(217, 210, 200, 0.5);
  // front-peole-name
  --theme-light-front-people-name-pick-before: rgba(0, 0, 0, 0.2);
  --theme-light-front-people-name-pick-after: rgba(0, 0, 0, 1);
  // ring
  --theme-light-ring-main-timer: rgba(170, 170, 170, 0.6);
  --theme-light-ring-main-timer-bg: rgba(170, 170, 170, 0.2);
  --theme-light-ring-main-timer-text: rgba(170, 170, 170, 0.6);

  --theme-light-ring-individual-timer: rgba(170, 170, 170, 0.6);
  --theme-light-ring-individual-timer-bg: rgba(170, 170, 170, 0.2);
  --theme-light-ring-individual-timer-text: rgba(170, 170, 170, 0.6);

  --theme-light-ring-progress: rgba(170, 170, 170, 0.6);
  --theme-light-ring-progress-bg: rgba(170, 170, 170, 0.2);
  --theme-light-ring-progress-text: rgba(170, 170, 170, 0.6);
  // slide-up
  --theme-light-slide-up-shadow-up: rgba(239, 238, 238, 1);
  --theme-light-slide-up-modal: rgba(0, 0, 0, 0.2);
  --theme-light-slide-up-border: rgba(255, 255, 255, 1);
  --theme-light-slide-up-background: rgba(239, 238, 238, 1);
  --theme-light-slide-up-btn-background: rgba(239, 238, 238, 1);
  --theme-light-slide-up-btn-box-shadow: 2px 2px rgba(208, 207, 207, 1),
    -2px -2px rgba(255, 255, 255, 1);
  --theme-light-slide-up-card-border: rgba(255, 255, 255, 1);
  --theme-light-slide-up-card-background: rgba(239, 238, 238, 1);
  --theme-light-slide-up-card-gradient: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.02),
    rgba(255, 255, 255, 1)
  );
  --theme-light-slide-up-card-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
  --theme-light-slide-up-card-button-forecolor: rgba(0, 0, 0, 1);
  --theme-light-slide-up-card-toogle-border: rgba(0, 0, 0, 0.1);
  --theme-light-slide-up-card-toggle-right: rgba(0, 0, 0, 0.5);
  --theme-light-slide-up-card-toggle-left: rgba(223, 222, 222, 1);
  --theme-light-slide-up-card-icon-filter-main-timer: invert(0.6);
  --theme-light-slide-up-card-icon-filter-individual-timer: invert(0.6);
  --theme-light-slide-up-card-icon-filter-progress: invert(0.6);
  --theme-light-slide-up-card-icon-filter-theme: invert(0.6);

  /* ---------------------------------- Dark Mode ---------------------------------- */
  --theme-dark-background: #1b1b1b;
  --theme-dark-forecolor: rgba(255, 255, 255, 1);
  // spin-container
  --theme-dark-spin-container-border: rgba(0, 0, 0, 0.4);
  --theme-dark-spin-container-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  --theme-dark-spin-container-flip-box-shadow: rgba(255, 255, 255, 0.01);
  --theme-dark-side-back-background: rgba(255, 255, 255, 0.02);
  // back-people-list
  --theme-dark-people-list-before: rgba(0, 0, 0, 0.6);
  --theme-dark-back-people-radio-border: rgba(0, 0, 0, 0.5);
  --theme-dark-back-people-radio-bg: rgba(255, 255, 255, 0.1);
  --theme-dark-back-people-text-active: rgba(255, 255, 255, 1);
  --theme-dark-back-people-text-deactive: rgba(255, 255, 255, 0.3);
  --theme-dark-back-people-delete: rgba(255, 255, 255, 0.5);
  // btn
  --theme-dark-neu-btn-round-border: rgba(60, 60, 60, 1);
  --theme-dark-neu-btn-round-background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1),
    rgba(90, 90, 90, 1)
  );
  --theme-dark-neu-btn-round-box-shadow: 5px 5px 10px rgba(0, 0, 0, 1),
    -5px -5px 10px rgba(30, 30, 30, 1);
  --theme-dark-neu-btn-round-background-active: rgba(30, 30, 30, 1);
  --theme-dark-neu-btn-round-box-shadow-active: -6px -6px 26px 0 rgba(0, 0, 0, 1),
    6px 6px 16px 0 rgba(80, 80, 80, 0.2);
  // front-people-name
  --theme-dark-front-people-name-pick-before: rgba(255, 255, 255, 0.3);
  --theme-dark-front-people-name-pick-after: rgba(255, 255, 255, 1);
  // ring
  --theme-dark-ring-main-timer: rgba(59, 210, 255, 0.6);
  --theme-dark-ring-main-timer-bg: rgba(59, 210, 255, 0.2);
  --theme-dark-ring-main-timer-text: rgba(59, 210, 255, 0.6);

  --theme-dark-ring-individual-timer: rgba(47, 179, 123, 0.6);
  --theme-dark-ring-individual-timer-bg: rgba(47, 179, 123, 0.2);
  --theme-dark-ring-individual-timer-text: rgba(47, 179, 123, 0.6);

  --theme-dark-ring-progress: rgba(228, 30, 92, 0.6);
  --theme-dark-ring-progress-bg: rgba(228, 30, 92, 0.2);
  --theme-dark-ring-progress-text: rgba(228, 30, 92, 0.6);

  // slide-up
  --theme-dark-slide-up-shadow-up: rgba(27, 27, 27, 1);
  --theme-dark-slide-up-modal: rgba(0, 0, 0, 0.6);
  --theme-dark-slide-up-border: rgba(0, 0, 0, 0.4);
  --theme-dark-slide-up-background: rgba(27, 27, 27, 1);
  --theme-dark-slide-up-btn-background: rgba(27, 27, 27, 1);
  --theme-dark-slide-up-btn-box-shadow: 2px 2px rgba(60, 60, 60, 1),
    -2px -2px rgba(0, 0, 0, 1);
  --theme-dark-slide-up-card-border: rgba(0, 0, 0, 0.6);
  --theme-dark-slide-up-card-background: rgba(27, 27, 27, 1);
  --theme-dark-slide-up-card-gradient: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1),
    rgba(50, 50, 50, 1)
  );
  --theme-dark-slide-up-card-box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.25),
    -2px -2px 10px rgba(55, 55, 55, 0.5);
  --theme-dark-slide-up-card-button-forecolor: rgba(255, 255, 255, 0.8);
  --theme-dark-slide-up-card-toogle-border: rgba(255, 255, 255, 1);
  --theme-dark-slide-up-card-toggle-right: rgba(255, 255, 255, 0.2);
  --theme-dark-slide-up-card-toggle-left: rgba(150, 150, 150, 1);
  --theme-dark-slide-up-card-icon-filter-main-timer: invert(79%) sepia(27%)
    saturate(6526%) hue-rotate(167deg) brightness(105%) contrast(106%);
  --theme-dark-slide-up-card-icon-filter-individual-timer: invert(61%)
    sepia(20%) saturate(1310%) hue-rotate(103deg) brightness(93%) contrast(86%);
  --theme-dark-slide-up-card-icon-filter-progress: invert(23%) sepia(88%)
    saturate(5208%) hue-rotate(331deg) brightness(93%) contrast(91%);
  --theme-dark-slide-up-card-icon-filter-theme: invert(100%) sepia(3%)
    saturate(0%) hue-rotate(219deg) brightness(102%) contrast(100%);
}

.theme-light {
  --color-body-background: var(--theme-light-background);
  --color-body-forecolor: var(--theme-light-forecolor);
  --color-spin-container-border: var(--theme-light-spin-container-border);
  --color-spin-container-box-shadow: var(
    --theme-light-spin-container-box-shadow
  );
  --color-spin-container-flip-box-shadow: var(
    --theme-light-spin-container-flip-box-shadow
  );
  --color-side-back-background: var(--theme-light-side-back-background);
  --color-people-list-before: var(--theme-light-people-list-before);
  --color-back-people-radio-border: var(--theme-light-back-people-radio-border);
  --color-back-people-radio-bg: var(--theme-light-back-people-radio-bg);
  --color-back-people-text-active: var(--theme-light-back-people-text-active);
  --color-back-people-text-deactive: var(
    --theme-light-back-people-text-deactive
  );
  --color-back-people-delete: var(--theme-light-back-people-delete);
  --color-neu-btn-round-border: var(--theme-light-neu-btn-round-border);
  --color-neu-btn-round-background: var(--theme-light-neu-btn-round-background);
  --color-neu-btn-round-box-shadow: var(--theme-light-neu-btn-round-box-shadow);
  --color-neu-btn-round-background-active: var(
    --theme-light-neu-btn-round-background-active
  );
  --color-neu-btn-round-box-shadow-active: var(
    --theme-light-neu-btn-round-box-shadow-active
  );
  --color-front-people-name-pick-before: var(
    --theme-light-front-people-name-pick-before
  );
  --color-front-people-name-pick-after: var(
    --theme-light-front-people-name-pick-after
  );
  --color-ring-main-timer: var(--theme-light-ring-main-timer);
  --color-ring-main-timer-bg: var(--theme-light-ring-main-timer-bg);
  --color-ring-main-timer-text: var(--theme-light-ring-main-timer-text);
  --color-ring-individual-timer: var(--theme-light-ring-individual-timer);
  --color-ring-individual-timer-bg: var(--theme-light-ring-individual-timer-bg);
  --color-ring-individual-timer-text: var(
    --theme-light-ring-individual-timer-text
  );
  --color-ring-progress: var(--theme-light-ring-progress);
  --color-ring-progress-bg: var(--theme-light-ring-progress-bg);
  --color-ring-progress-text: var(--theme-light-ring-progress-text);
  --color-slide-up-shadow-up: var(--theme-light-slide-up-shadow-up);
  --color-slide-up-modal: var(--theme-light-slide-up-modal);
  --color-slide-up-border: var(--theme-light-slide-up-border);
  --color-slide-up-background: var(--theme-light-slide-up-background);
  --color-slide-up-btn-background: var(--theme-light-slide-up-btn-background);
  --color-slide-up-btn-box-shadow: var(--theme-light-slide-up-btn-box-shadow);
  --color-slide-up-card-border: var(--theme-light-slide-up-card-border);
  --color-slide-up-card-background: var(--theme-light-slide-up-card-background);
  --color-slide-up-card-gradient: var(--theme-light-slide-up-card-gradient);
  --color-slide-up-card-box-shadow: var(--theme-light-slide-up-card-box-shadow);
  --color-slide-up-card-button-forecolor: var(
    --theme-light-slide-up-card-button-forecolor
  );
  --color-slide-up-card-toogle-border: var(
    --theme-light-slide-up-card-toogle-border
  );
  --color-slide-up-card-toggle-right: var(
    --theme-light-slide-up-card-toggle-right
  );
  --color-slide-up-card-toggle-left: var(
    --theme-light-slide-up-card-toggle-left
  );
  --color-slide-up-card-icon-filter-main-timer: var(
    --theme-light-slide-up-card-icon-filter-main-timer
  );
  --color-slide-up-card-icon-filter-individual-timer: var(
    --theme-light-slide-up-card-icon-filter-individual-timer
  );
  --color-slide-up-card-icon-filter-progress: var(
    --theme-light-slide-up-card-icon-filter-progress
  );
  --color-slide-up-card-icon-filter-theme: var(
    --theme-light-slide-up-card-icon-filter-theme
  );
}

.theme-dark {
  --color-body-background: var(--theme-dark-background);
  --color-body-forecolor: var(--theme-dark-forecolor);
  --color-spin-container-border: var(--theme-dark-spin-container-border);
  --color-spin-container-box-shadow: var(
    --theme-dark-spin-container-box-shadow
  );
  --color-spin-container-flip-box-shadow: var(
    --theme-dark-spin-container-flip-box-shadow
  );
  --color-side-back-background: var(--theme-dark-side-back-background);
  --color-people-list-before: var(--theme-dark-people-list-before);
  --color-back-people-radio-border: var(--theme-dark-back-people-radio-border);
  --color-back-people-radio-bg: var(--theme-dark-back-people-radio-bg);
  --color-back-people-text-active: var(--theme-dark-back-people-text-active);
  --color-back-people-text-deactive: var(
    --theme-dark-back-people-text-deactive
  );
  --color-back-people-delete: var(--theme-dark-back-people-delete);
  --color-neu-btn-round-border: var(--theme-dark-neu-btn-round-border);
  --color-neu-btn-round-background: var(--theme-dark-neu-btn-round-background);
  --color-neu-btn-round-box-shadow: var(--theme-dark-neu-btn-round-box-shadow);
  --color-neu-btn-round-background-active: var(
    --theme-dark-neu-btn-round-background-active
  );
  --color-neu-btn-round-box-shadow-active: var(
    --theme-dark-neu-btn-round-box-shadow-active
  );
  --color-front-people-name-pick-before: var(
    --theme-dark-front-people-name-pick-before
  );
  --color-front-people-name-pick-after: var(
    --theme-dark-front-people-name-pick-after
  );
  --color-ring-main-timer: var(--theme-dark-ring-main-timer);
  --color-ring-main-timer-bg: var(--theme-dark-ring-main-timer-bg);
  --color-ring-main-timer-text: var(--theme-dark-ring-main-timer-text);
  --color-ring-individual-timer: var(--theme-dark-ring-individual-timer);
  --color-ring-individual-timer-bg: var(--theme-dark-ring-individual-timer-bg);
  --color-ring-individual-timer-text: var(
    --theme-dark-ring-individual-timer-text
  );
  --color-ring-progress: var(--theme-dark-ring-progress);
  --color-ring-progress-bg: var(--theme-dark-ring-progress-bg);
  --color-ring-progress-text: var(--theme-dark-ring-progress-text);
  --color-slide-up-shadow-up: var(--theme-dark-slide-up-shadow-up);
  --color-slide-up-modal: var(--theme-dark-slide-up-modal);
  --color-slide-up-border: var(--theme-dark-slide-up-border);
  --color-slide-up-background: var(--theme-dark-slide-up-background);
  --color-slide-up-btn-background: var(--theme-dark-slide-up-btn-background);
  --color-slide-up-btn-box-shadow: var(--theme-dark-slide-up-btn-box-shadow);
  --color-slide-up-card-border: var(--theme-dark-slide-up-card-border);
  --color-slide-up-card-background: var(--theme-dark-slide-up-card-background);
  --color-slide-up-card-gradient: var(--theme-dark-slide-up-card-gradient);
  --color-slide-up-card-box-shadow: var(--theme-dark-slide-up-card-box-shadow);
  --color-slide-up-card-button-forecolor: var(
    --theme-dark-slide-up-card-button-forecolor
  );
  --color-slide-up-card-toogle-border: var(
    --theme-dark-slide-up-card-toogle-border
  );
  --color-slide-up-card-toggle-right: var(
    --theme-dark-slide-up-card-toggle-right
  );
  --color-slide-up-card-toggle-left: var(
    --theme-dark-slide-up-card-toggle-left
  );
  --color-slide-up-card-icon-filter-main-timer: var(
    --theme-dark-slide-up-card-icon-filter-main-timer
  );
  --color-slide-up-card-icon-filter-individual-timer: var(
    --theme-dark-slide-up-card-icon-filter-individual-timer
  );
  --color-slide-up-card-icon-filter-progress: var(
    --theme-dark-slide-up-card-icon-filter-progress
  );
  --color-slide-up-card-icon-filter-theme: var(
    --theme-dark-slide-up-card-icon-filter-theme
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--color-body-background);

  font-family: 'Raleway Dots', cursive;
  font-weight: bold;
  font-size: var(--spin-font-size);
  color: var(--color-body-forecolor);

  touch-action: none;
  overflow: hidden;
  perspective: 3000px;
}

.spin-container {
  height: var(--spin-container-height);
  width: var(--spin-container-width);

  border: 5px solid var(--color-spin-container-border);
  border-radius: 50%;
  box-shadow: var(--color-spin-container-box-shadow);

  transform: translateY(-15%);
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

  // FIXME: remove after side__back finish
  // transform: rotateY(180deg);

  // backside__after-flip
  &__flip {
    transform: translateY(-15%) rotateY(180deg);
    box-shadow: 1px 1px 10px 1px var(--color-spin-container-flip-box-shadow);
  }
}

.side {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  backface-visibility: hidden;

  &__front {
    transform: rotateY(0deg);
  }

  &__back {
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    border-radius: 50%;
    background-color: var(--color-side-back-background);
    overflow: hidden;

    .people-list {
      overflow: scroll;
      position: relative;
      top: var(--people-list-top);
      width: var(--people-list-width);
      height: var(--people-list-height);
      margin-top: var(--people-list-margin);
      border-radius: 50%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-bottom: 15vmin;
      scrollbar-width: none;

      &::after {
        content: '';
        display: block;
        padding-bottom: 15vmin;
      }

      &::before {
        content: '';
        position: fixed;
        left: 50%;
        transform: translateX(-50%) scale(0.99);
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 -36px 77px -23px var(--color-people-list-before);
        z-index: -1;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &__textbox {
        width: var(--people-list-width);

        input {
          position: absolute;
          top: 10%;
          left: 50%;
          height: 10%;
          width: 50%;
          padding: 0 2vmin;
          transform: translateX(-50%);
          border: 0;
          border-bottom: 1px solid gainsboro;
          line-height: 1.3;
          color: gray;
          font-family: 'Raleway Dots', cursive;

          font-size: var(--spin-font-size);
          background-color: transparent;

          &:focus {
            outline: 0;
          }
        }

        ::placeholder {
          color: lightgray;
        }
      }

      &-item {
        list-style: none;
        margin-top: var(--people-list-margin);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-item:first-child {
        margin-top: 4vmin;
      }

      &-item__box-name-container {
        position: absolute;
        display: flex;
        align-items: center;
        left: var(--people-list-item__box-name-container-left);
      }

      &-item__checkbox[type='checkbox'] {
        appearance: none;
        border-radius: 50%;
        background: var(--color-back-people-radio-bg);
        width: 1rem;
        height: 1rem;

        &:checked {
          border: 5px solid var(--color-back-people-radio-border);
          border-radius: 1rem;
          padding: 2px;

          background-color: white;
        }

        &:focus {
          outline: none;
        }
      }

      &-item__text {
        margin-left: 10px;
      }

      &-item__delete-btn {
        position: absolute;
        right: 0;

        margin-right: 10vmin;
        background: transparent;
        border: 0;
        font-weight: lighter;
        font-size: 4vmin;
        color: var(--color-back-people-delete);

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .spin-needle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;

    height: 35%;
    width: 1%;

    background: #ff105e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .people-container {
    position: relative;
    height: 100%;
    width: 100%;

    .people {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-top: var(--people-list-padding-top);
      text-align: center;
      transform: rotate(var(--person-position));
      color: var(--color-front-people-name-pick-before);
    }

    .fave-effect {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--people-selected-effect-bg-size);
      width: var(--people-selected-effect-bg-size);
      top: 7%;
      left: 50%;
      background: var(--people-selected-effect-bg) no-repeat;
      background-size: 500vmin;
    }
  }
}

.side-back__people-text-attend {
  &--active {
    color: var(--color-back-people-text-active);
  }

  &--deactive {
    color: var(--color-back-people-text-deactive);
  }
}

.neu-btn-round {
  padding: var(--spin-turn-btn-padding);

  border-radius: 50%;
  border: 1vmin solid var(--color-neu-btn-round-border);

  background: var(--color-neu-btn-round-background);
  box-shadow: var(--color-neu-btn-round-box-shadow);

  &:focus {
    outline: 0;
  }

  &:active {
    border: 1px solid var(--color-neu-btn-round-border);
    background: var(--color-neu-btn-round-background-active);
    box-shadow: var(--color-neu-btn-round-box-shadow-active);
  }
}

.btn-turn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------- */
/*                               slide-up-panel                               */
/* -------------------------------------------------------------------------- */
.modal__bg {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-slide-up-modal);
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.btn-flip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  transition: transform 0.2s ease-in-out;

  &-anim__hide {
    transform: translateX(-50%) scale(0);
  }

  &-anim__visible {
    transform: translateX(-50%) scale(1);
    transition-delay: 0.5s;
  }

  .icon-flip {
    position: absolute;
    width: 4vmin;
    filter: invert(0.5);
  }
}

.slide-up-panel__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  // FIXME: dev
  // height: 58%;
  height: 7%;
  bottom: 0;

  border-radius: 10vmin 10vmin 0 0;
  border: 0.3vmin solid var(--color-slide-up-border);

  background-color: var(--color-slide-up-background);
  // box-shadow: 9px 9px 16px #d0cfcf, -9px -9px 16px #ffffff;
}

.slide-up-panel__btn {
  height: 0.8vmin;
  width: 30vmin;
  margin: 4vmin;
  background-color: var(--color-slide-up-btn-background);
  box-shadow: var(--color-slide-up-btn-box-shadow);
  z-index: 2;
  cursor: pointer;
}

.slide-up-anim {
  animation: slide-up-anim 0.5s ease-in-out forwards;
}

@keyframes slide-up-anim {
  0% {
    height: 7%;
  }
  50% {
    height: 1%;
  }
  100% {
    height: 58%;
  }
}

.slide-down-anim {
  animation: slide-down-anim 0.5s ease-in-out forwards;
}

@keyframes slide-down-anim {
  0% {
    height: 58%;
  }
  50% {
    height: 65%;
  }
  100% {
    height: 7%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 state-card                                 */
/* -------------------------------------------------------------------------- */

.slide-up-panel__shadow--up {
  position: absolute;
  width: 85vmin;
  height: 1vmin;
  top: 7vmin;
  background-color: var(--color-slide-up-shadow-up);
  box-shadow: 0 1vmin 33px 2vmin var(--color-slide-up-shadow-up);
  z-index: 1;
}

.slide-up-panel__shadow--bottom {
  position: absolute;
  width: 85vmin;
  height: 1vmin;
  bottom: -1vmin;
  background-color: var(--color-slide-up-shadow-up);
  box-shadow: 0 -1vmin 33px 2vmin var(--color-slide-up-shadow-up);
  z-index: 1;
}

.slide-up-panel__scroll {
  position: absolute;
  width: 100%;
  height: 95%;
  margin-top: 7vmin;
  overflow-y: auto;
}

.slide-up-panel__state-card-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5vmin;
  overflow-x: auto;
  // FIXME: dev
  // border: 1px red solid;
}

/* -------------------------------------------------------------------------- */
/*                                  Animation                                 */
/* -------------------------------------------------------------------------- */

// reset Spinner Anim
.spin-container__flip--rest {
  animation: restSpinner 1s ease-out;
}

@keyframes restSpinner {
  0% {
    transform: translateY(-15%) rotateX(0deg);
  }
  50% {
    transform: translateY(-15%) rotateX(60deg);
  }
  100% {
    transform: translateY(-15%) rotateX(0deg);
  }
}

// set SelectedPerson Anim
.start-selected-effect {
  animation: selectedPerson 0.5s steps(28) forwards;
  animation-delay: 2s;
}

@keyframes selectedPerson {
  0% {
    font-size: 0;
    background-position-x: 0%;
  }
  50% {
    font-size: calc(var(--spin-font-size) + 2vmin);
  }
  100% {
    font-size: var(--spin-font-size);
    background-position-x: 100%;
    color: var(--color-front-people-name-pick-after);
  }
}

// turn Needle Anim
.turn--start {
  animation: turnNeedle 2s ease-out forwards;
}

@keyframes turnNeedle {
  0% {
    transform: translateX(-50%) rotate(var(--rotate-from));
  }

  100% {
    transform: translateX(-50%) rotate(calc(360deg * 3 + var(--rotate-to)));
  }
}

// reset Needle Anim
.turn--reset {
  animation: resetNeedle 2s linear forwards;
}

@keyframes resetNeedle {
  0% {
    transform: translateX(-50%) rotate(calc(360deg + var(--rotate-to)));
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

// set Toast Anim
.toast-hover-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 15vmin;
  transform: translateY(8.5vmin);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translateY(2vmin);
  }
}
