:root {
  --basic-unit: 4px;
  --rotate-from: 0deg;
  --rotate-to: 0deg;
  --person-position: 0;
  --card-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  --card-shadow-transition: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);

  --spin-container-width: 85vmin;
  --spin-container-height: 85vmin;
  --spin-font-size: 4vmin;
  --spin-turn-btn-padding: 6vmin;

  --spin-progressbar-percent: 0;
  --people-list-width: 80vmin;
  --people-list-height: 60vmin;
  --people-list-top: 3vmin;
  --people-list-padding-top: 3.5vmin;
  --people-list-margin: 10vmin;
  --people-list-item__box-name-container-left: 10vmin;
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-bottom: 5vmin;
  background-color: #efeeee;
  font-family: 'Raleway Dots', cursive;
  font-weight: bold;

  font-size: var(--spin-font-size);
  touch-action: none;
  overflow: hidden;
}

.spin-container {
  position: relative;
  height: var(--spin-container-height);
  width: var(--spin-container-width);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.1),
    inset 0 -15px 15px rgba(255, 255, 255, 1), 0 15px 15px rgba(0, 0, 0, 0.1),
    inset 0 15px 15px rgba(0, 0, 0, 0.08);

  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

  // FIXME: remove after side__back finish
  //transform: rotateY(180deg);

  // backside__after-flip
  &__flip {
    transform: rotateY(180deg);
    box-shadow: var(--card-shadow-transition);
  }

  &__flip--rest {
    animation-name: spin-container__flip--rest;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

@keyframes spin-container__flip--rest {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.side {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  backface-visibility: hidden;

  &__front {
    transform: rotateY(0deg);
  }

  &__back {
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;

    .people-list {
      overflow: scroll;
      position: relative;
      top: var(--people-list-top);
      width: var(--people-list-width);
      height: var(--people-list-height);
      padding-bottom: 15vmin;
      border-radius: 50%;
      // border: 1px solid;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &::before {
        content: '';
        position: fixed;
        left: 50%;
        transform: translateX(-50%) scale(0.99);
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 -36px 77px -23px rgba(0, 0, 0, 0.2);
        z-index: -1;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &__textbox {
        width: var(--people-list-width);

        input {
          position: absolute;
          top: 10%;
          left: 50%;
          height: 10%;
          width: 50%;
          padding: 0 2vmin;
          transform: translateX(-50%);
          border: 0;
          border-bottom: 1px solid gainsboro;
          line-height: 1.3;
          color: gray;
          font-family: 'Raleway Dots', cursive;

          font-size: var(--spin-font-size);
          background-color: transparent;

          &:focus {
            outline: 0;
          }
        }

        ::placeholder {
          color: lightgray;
        }
      }

      &-item {
        list-style: none;
        margin-top: var(--people-list-margin);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-item__box-name-container {
        position: absolute;
        display: flex;
        align-items: center;
        left: var(--people-list-item__box-name-container-left);
      }

      &-item__checkbox[type='checkbox'] {
        appearance: none;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.05);
        width: 1rem;
        height: 1rem;

        &:checked {
          border: 5px solid rgba(0, 0, 0, 0.1);
          border-radius: 1rem;
          padding: 2px;

          background-color: white;
        }

        &:focus {
          outline: none;
        }
      }

      &-item__text {
        margin-left: 10px;
      }

      &-item__delete-btn {
        position: absolute;
        right: 0;

        margin-right: 10vmin;
        background: transparent;
        border: 0;
        font-weight: lighter;
        font-size: 4vmin;
        color: gainsboro;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .spin-progressbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(-90deg);

    width: 73%;
    height: 73%;

    & svg {
      overflow: visible;

      & circle {
        fill: none;
        stroke-width: 3px;
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        stroke-linecap: round;
        overflow: visible;
      }

      & circle:nth-child(1) {
        stroke: rgba(0, 0, 0, 0.02);
        stroke-dashoffset: 0;
      }
      & circle:nth-child(2) {
        transition: stroke-dashoffset 2s ease-in-out;
        stroke-width: 2px;
        stroke: rgba(0, 0, 0, 0.15);
        stroke-dashoffset: calc(
          440 - (440 * var(--spin-progressbar-percent)) / 100
        );
      }
    }
  }

  .spin-needle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;

    height: 35%;
    width: 1%;

    background: #ff105e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .people-container {
    position: relative;
    height: 100%;
    width: 100%;

    .people {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-top: var(--people-list-padding-top);
      text-align: center;
      color: black;

      transform: rotate(var(--person-position));
    }
  }

  .btn-turn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: var(--spin-turn-btn-padding);

    border-radius: 50%;

    background: linear-gradient(145deg, #ffffff, #d7d6d6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 10px #d0cfcf, -5px -5px 10px #ffffff;

    &:focus {
      outline: 0;
    }

    &:active {
      background: #efeeee;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.9),
        6px 6px 16px 0 rgba(217, 210, 200, 0.5);
    }
  }
}

// needle turn animation
.turn--start {
  animation-name: turn--start;
  animation-duration: 2s;

  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes turn--start {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(calc(360deg * 3 + var(--rotate-to)));
  }
}

.turn--reset {
  animation-name: turn--reset;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes turn--reset {
  0% {
    transform: translateX(-50%) rotate(calc(360deg + var(--rotate-to)));
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
